* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-color: #fafafa;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
img {
    vertical-align: top;
}
.header {
    height: 70px;
    background-color: rgba(250, 250, 250, 0.7);
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1;
}
.header-left {
    float: left;
    padding-left: 110px;
    font-size: 15px;
    line-height: 32px;
    font-family: serif;
}
.header-left h1 {
    font-weight: 300;

}
.header-right {
    float: right;
    padding-right: 110px;
    font-family: cursive;
}
.navi li {
    display: inline-block;
    line-height: 40px;
    margin-left: 30px;
}
.main {
    width: 100%;
}
.top-wrapper {
    height: 600px;
    margin: 140px 100px;
}
.top-container {
    display: flex;
    height: 100%;
}
.inner-left {
    background-color: #fafafa;
    display: block;
    color: black;
    text-align: center;
    width: 100%;
    margin: 100px 0px;
}
.inner-left h2 {
    font-family: cursive;
    font-size: 30px;
    padding: 50px 0;
    letter-spacing: 6px;
}
.intro {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.inner-left p {
    margin-top: 30px;
}
.sns {
    width: 400px;
    padding: 20px 0px;
    margin: 0 auto;
}
.btn {
    display: inline-block;
    padding: 0px 30px;
}
.inner-right {
    background-image: url(https://github.com/NaokiYonemaru/kome-no-blog/blob/master/image/photo-158.jpeg?raw=true);
    background-size: cover;
    background-position: center;
    width: 100%;
    display: inline-block;
}
.inner-right h3 {
    color: white;
    font-family: cursive;
    font-size: 30px;
    letter-spacing: 6px;
    font-size: 50px;
    opacity: 0.9;
    margin: 210px 0 0 50px;
}
.subject {
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    padding: 50px 0;
    letter-spacing: 6px;
}
article {
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px 200px 100px;
}
.open {
    cursor: pointer;
}
#close {
    cursor: pointer;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    padding: 12px 0;
    margin: 16px auto 0;
}
#mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
#modal {
    background: #fff;
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 75px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform 1s;
    z-index: 2;
}
#modal > p {
    margin: 0 0 20px;
}
#mask.hidden {
    display: none;
}
#modal.hidden {
    transform: translate(0, -1200px);
}
.container {
    background-color: white;
    flex: auto;
    width: 30%;
    padding: 15px 15px;
    margin: 10px;
    height: 550px;
    position: relative;
    box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.7);
}
.photo {
    width: 100%;
    height: 280px;
}
.container h4 {
    padding: 0;
    margin: 0;
    font-size: 20px;
    margin: 10px 0 2px 0;
}
time {
    font-size: 13px;
    font-family: cursive;
    margin-bottom: -6px;
    display: block;
}    
.text {
    height: 110px;
    overflow: hidden;
}
.read {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 12px;
}
.bottom-container {
    margin: 100px;
    height: 600px;
}
.soccer {
    height: 400px;
    background-image: url(https://raw.githubusercontent.com/NaokiYonemaru/My-roots/master/image/IMG_0006_Original.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    display: inline-block;
}
.icon-container {
    margin: 0px 100px 200px 100px;
}
.icon-container h5 {
    text-align: center;
    font-size: 30px;
    font-family: serif
}
.icons {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.icon {
    display: inline-block;
    font-size: 140px;
    flex: auto;
    width: 25%;
    text-align: center;
}
.html {
    color: #e34f26;
}
.css {
    color: #0277BD;
}
.js {
    color: #EFDC4F;
}
.vue {
    color: #00b389;
}
.footer {
    text-align: center;
}

/* メディアクエリ メディアクエリ メディアクエリ メディアクエリ メディアクエリ */

@media(max-width:670px) {
    .header {
        height: 120px;
    }
    .header-left,.header-right {
        padding: 0;
        float: none;
        text-align: center;
    }
    .header-right {
        padding-right: 40px;
    }
    .top-container {
        margin: 200px 10px;
    }
    .top-wrapper {
        margin: 25px;
    }
    .subject {
        font-size: 36px;
        margin-top: 60px;
    }
    article {
        margin: 0;
    }
    #modal {
        width: 70%;
    }
    #modal.hidden {
        transform: translate(0, -1700px);
    }
    .container {
        width: 100%;
        height: 560px;
        margin: 25px;
    }
    .photo {
        height: 250px;
    }
    .container h4 {
        font-size: 24px;
    }
    time {
        font-size: 20px;
    }
    .text {
        height: 102px;
        overflow: hidden;
    }
    .read {
        padding: 24px;
    }
    .bottom-container {
        margin: 25px;
    }
    .icon {
        width: 100%;
    }
}
