* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-color: #fafafa;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
img {
    vertical-align: top;
}
.header {
    height: 70px;
    background-color: rgba(250, 250, 250, 0.7);
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    z-index: 10;
}
.header-left {
    float: left;
    padding-left: 110px;
    font-size: 15px;
    line-height: 32px;
    font-family: serif;
}
.header-left h1 {
    font-weight: 300;

}
.header-right {
    float: right;
    padding-right: 110px;
    font-family: cursive;
}
.navi li {
    display: inline-block;
    line-height: 40px;
    margin-left: 30px;
}
.top-wrapper {
    height: 600px;
}
.top-container {
    display: flex;
    margin: 140px 100px;
    height: 100%;
}
.inner-left {
    background-color: #fafafa;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 50px 150px;
    width: 650px;
}
.left-container {
    width: 200px;
}
.intro {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}
.inner-left p {
    margin-top: 30px;
}
.sns {
    padding: 60px 0 0 15px;
    width: 200px;
}
.btn {
    display: inline-block;
    margin: 0 25px 0 10px;
}
.inner-right {
    background-image: url(https://github.com/NaokiYonemaru/kome-no-blog/blob/master/image/photo-158.jpeg?raw=true);
    background-size: cover;
    background-position: center;
    width: 100%;
    display: inline-block;
}
.inner-right h3 {
    color: white;
    font-family: cursive;
    font-size: 30px;
    letter-spacing: 6px;
    font-size: 50px;
    opacity: 0.9;
    margin: 210px 0 0 50px;
}
.subject {
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    padding: 50px 0;
}
article {
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px;
}
.container {
    background-color: white;
    flex: auto;
    width: 30%;
    padding: 15px 15px;
    margin: 10px;
    height: 450px;
    position: relative;
    box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.7);
}
.photo {
    width: 100%;
    height: 200px;
}
.container h4 {
    padding: 0;
    margin: 0;
    font-size: 20px;
    margin: 10px 0 2px 0;
}
time {
    font-size: 13px;
    font-family: cursive;
    margin-bottom: -6px;
    display: block;
}    
.text {
    height: 90px;
    overflow: hidden;
}
.read {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: block;
    border: 1px solid black;
    padding: 10px;
    font-size: 12px;
}
.btn-wrapper {
    margin-bottom: 150px;
}
.pager {
    text-align: center;
    margin-top: 100px;
}
.pager li,.index-btn {
    display: inline-block;
    font-size: 10px;
}
.page {
    border: 1px solid rgba(180, 180, 180, 0.8);
    padding: 16px 18px;
    border-radius: 50%;
}
.aside {
    padding-bottom: 80px;
    background-color: rgba(240, 240, 240);
}
.aside-container {
    display: flex;
}
.aside-wrapper {
    text-align: center;
    flex: auto;
    padding: 10px;
    margin: 20px;
    width: 30%;
}
.aside-wrapper h5 {
    font-size: 18px;
}
.report {
    padding-right: 30px;
}
.slide-wrapper {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.slide-title {
    margin-bottom: 30px;
}
.change-btn-wrapper {
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
}
.change-btn-wrapper:after {
    content: "";
    clear: both;
    display: block;
}
.prev-btn {
    cursor: pointer;
    float: left;
    display: none;
}
.next-btn {
    cursor: pointer;
    float: right;
}
.slides {
    padding: 0;
    display: inline-block;
    margin: 0 auto;
}
.slide {
    display: none;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.7);
    margin-bottom: 20px;
}
.slide img {
    width: 100%;
    height: 250px;
    margin: 0;
}
.active {
    display: block;
}
.index-btn-wrapper {
    margin-top: 20px;
}
.index-btn {
    cursor: pointer;
    border: 1px solid rgba(180, 180, 180, 0.8);
    padding: 13px 18px;
    border-radius: 50%;
}
.calendar {
    display: inline-block;
}
.footer {
    text-align: center;
}

/* メディアクエリ メディアクエリ メディアクエリ メディアクエリ メディアクエリ */

@media(max-width:670px) {
    body {
        font-size: 26px;
        width: 100%;
    }
    .header {
        height: 100px;
    }
    .header h1 {
        font-size: 32px;
        padding-top: 10px;
    }
    .main {
        width: 1000px;
    }
    .top-wrapper {
        margin-top: 200px;
        height: 1500px;
    }
    .top-container {
        flex-direction: column-reverse;
    }
    .inner-right {
        height: 100%;
    }
    .inner-left {
        width: 100%;
    }
    .sns {
        margin: 0 auto;
        width: 400px;
    }
    .btn {
        font-size: 40px;
        margin: 0 50px 0 30px;
    }
    .subject {
        font-size: 40px;
    }
    article {
        margin: 0;
        font-size: 30px;
    }
    .container {
        width: 40%;
        height: 800px;
        margin: 25px;
    }
    .container h4 {
        font-size: 36px;
    }
    .photo {
        height: 400px;
    }
    time {
        font-size: 26px;
    }
    .text {
        height: 140px;
        overflow: hidden;
    }
    .read {
        font-size: 18px;
        padding: 20px;
    }
    .page,.index-btn {
        padding: 24px 28px;
        font-size: 20px;
    }
    .aside-container {
        flex-direction: column;
    }
    .aside-wrapper {
        margin: 0 auto;
        margin-top: 100px;
        font-size: 30px;
        width: 500px;
    }
    .aside-wrapper h5 {
        font-size: 26px;
    }
    input {
        font-size: 38px;
    }
    .prev-btn,.next-btn {
        font-size: 22px;
    }
    .footer {
        width: 100%;
        margin-left: 250px;
    }
}
